body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    margin: 0 auto;
    width: 90%;
    padding: 2rem 0;
}

.nav_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 3.8rem;
}

.nav-options {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.nav-options a {
    color: #242323;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 500;
}

.nav-options button {
    border-radius: 7px;
    background: #000;
    font-size: 1.5rem;
    color: #fff;
    padding: .8rem 1.3rem;
}

@media (max-width: 390px){
    .nav-options{
        display:none;

    }
}
/* This Section is a main section  */

.main{
    margin: 5rem auto;
    padding: 5rem;
    width: 90%;
    height: fit-content;
    border: #858484 solid;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
} 
.main a{
    text-decoration: none;
    font-size: 2rem;
    font-family: Poppins;
    color: #000000;
}
.contact-left-part{
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
}



.contact-right-part{
    margin: 2rem 5rem;
    padding: 1rem 2.5rem;
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.contact-right-part h1{
    margin: 1rem;
    padding: 0.5rem;
    color: #000000;
    text-align: start;
    font-family: Poppins;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 4.3rem; /* 127.273% */
    letter-spacing: 0.1rem;
}
.mobile-no{
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    gap: 2rem;
    
}
.mobile-no img{
    width: 5%;
}













/* This Section join-community css Section  */

.join-community{
    height: 37rem;
    margin:  0;
    background: #E5C643;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-community h1{
    width: 50%;
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 4.3rem; /* 127.273% */
    letter-spacing: 1.65px;
}
.join-community p{
    color: #FFFCF8;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem; /* 109.375% */
    letter-spacing: 0.96px;
}
.join-email{
    width: 574px;
    height: 87px;
    padding: 0 1rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.join-email input{
    border: none;
    width: 450px;
    height: 50px;
    font-size: 2rem;
}

.join-email button{
    border-radius: 7px;
    background: #000;
    font-size: 1.5rem;
    color: #fff;
    padding: .8rem 1.3rem;
}

/* This Section is a footer css section part */

.footer-box{
    height: fit-content;
    background-color: #000;
    display: flex;
}
footer{
    padding: 2rem;
    display: flex;
    width: 100%;
    margin: 2rem;
}

.left-part{
    width: 40%;
    padding-left: 5rem;
}
.left-part h1{
    color: #FFF;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
}
.left-part p{
    width: 70%;
    color: #8E8E8E;
    font-family: poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; /* 166.667% */
    letter-spacing: 0.48px;
}
.social-icon{
    display: flex;
    gap: 1rem;
}
.right-part{
    width: 60%;
    display: flex;
    justify-content: space-between;
    
    
}
.company{
    width: 30%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
    gap: 1rem;
}
.quick-link{
    width: 30%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
    gap: 1rem;

}
.legal{
    width: 30%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
    gap: 1rem;
}
.footer-box a{
    text-decoration: none;
    color: #8E8E8E;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; /* 166.667% */
    letter-spacing: 0.48px;
}
.footer-box b{
    color: #D9D9D9;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; /* 166.667% */
    letter-spacing: 0.48px;
}